::-webkit-scrollbar {
  display: none;
}
[v-cloak] {
  display: none;
}
html {
  -ms-overflow-style: none;
  background: #a0a0a0;
  /*background:url(bg.png);*/
  color: #f7f7f7;
}
* {
  box-sizing: border-box;
  touch-action: pan-y;
  -ms-touch-action: pan-y;
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
}
body {
  /*	touch-action: none;*/
  font-family: 'Nunito', sans-serif;
  font-size: 1em;
  /*letter-spacing:0.125em;*/
  margin: 0;
  /*	overflow:hidden;*/
  /*	max-width:calc(100vw - 1.25em);*/
}
.highCol {
  background: #dedede;
}
.highRow {
  background: #eaeaea;
}
.highCol.highRow {
  color: #e0e0e0;
  background: #a0a0a0;
}
.floatingPlus {
  width: 70px;
  height: 70px;
  position: relative;
  background: #a0a0a0;
  border-radius: 70px;
}
.floatingPlus:before,
.floatingPlus:after {
  content: "";
  position: absolute;
  z-index: -1;
  background: #f7f7f7;
}
.floatingPlus:before {
  left: 50%;
  width: 30%;
  margin-left: -15%;
  height: 100%;
}
.floatingPlus:after {
  top: 50%;
  height: 30%;
  margin-top: -15%;
  width: 100%;
}
.floatingPlus {
  cursor: pointer;
  position: fixed;
  right: 10px;
  bottom: 10px;
  height: 70px;
  overflow: hidden;
  border-radius: 70px;
}
.dataTable {
  width: calc(98%);
  margin: 0.5em 0 0 1em;
  color: black;
  background: #f7f7f7;
  user-select: none;
}
.dataTable {
  border-bottom-right-radius: 4px;
}
.dataTable,
.dataTableRow:nth-child(1) {
  border-top-left-radius: 4px;
}
.dataTableFieldRowIndex {
  min-width: 3em;
  max-width: 3em;
  height: 2em;
  max-height: 2em;
  background: #eaeaea;
}
.dataTableFieldContent {
  min-width: 8em;
  max-width: 8em;
}
.dataTableRow {
  height: 1.5em;
  max-height: 1.5em;
  overflow: hidden;
}
.dataTableRow:not(:nth-child(2)) {
  border-top: 1px solid #a0a0a0;
}
.dataTableRow:first-child {
  height: 2em;
  max-height: 2em;
  min-height: 2em;
  border-top: 2px solid #f7f7f7;
  border-bottom: 4px solid #f7f7f7;
  background: #dedede;
}
.dataTableRow:first-child .dataTableField {
  height: 2em;
  max-height: 2em;
  min-height: 2em;
  cursor: pointer;
  border-left: 1px solid #f7f7f7;
  border-right: 1px solid #f7f7f7;
  text-align: center;
}
.dataTableRow:last-child {
  border-bottom: 1px solid #a0a0a0;
}
.dataTableField {
  float: left;
  border-left: 1px solid #a0a0a0;
  padding: 0 8px 0 8px;
  max-height: 1.5em;
  overflow: hidden;
  white-space: nowrap;
}